body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f7;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  font-weight: bold;
  color: #3b82f6;
}

.menu span {
  margin: 0 15px;
  color: #555;
}

.btn-light {
  margin-right: 10px;
  padding: 6px 14px;
  background: white;
  border: 1px solid #ccc;
}

.btn-blue {
  padding: 6px 14px;
  background: #3b82f6;
  color: white;
  border: none;
}

/* CENTER CARD */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card {
 width: 380px;        /* control form width */
  max-width: 90%;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card label{
  font-size:14px;
  color:#444;
  margin-top:10px;
  display:block;
}

.card input {
  width: 100%;
  height: 38px;
  padding: 10px;
  margin: 8px 0 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;   /* important */
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.link span {
  color: #3b82f6;
  cursor: pointer;
}
/* ===== SMART CITY BACKGROUND ===== */

body{
  margin:0;
  font-family: Arial, sans-serif;
  overflow-x:hidden;

  /* Gradient */
  background: linear-gradient(-45deg,#0f172a,#1e293b,#0ea5e9,#6366f1);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;

  position: relative;
}

/* GRID OVERLAY */
body::before{
  content:"";
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background-image:
    linear-gradient(rgba(255,255,255,0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.06) 1px, transparent 1px);

  background-size: 40px 40px;
  animation: gridMove 20s linear infinite;

  pointer-events:none;
}

/*Gradient animation*/
@keyframes gradientMove{
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}

/* Grid movement */
@keyframes gridMove{
  from{ background-position:0 0,0 0;}
  to{ background-position:200px 200px,200px 200px;}
}